<header class="main-header">
  <div class="header-content">
    <div class="logo">
      <span class="icon">🐾</span>
      <h1>Veterinaria<span>App</span></h1>
    </div>
    
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mascotas</a></li>
        <li><a routerLink="/duenos" routerLinkActive="active">Dueños</a></li>
        <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/turnos" routerLinkActive="active">Turnos</a></li>
      </ul>
    </nav>

    <div class="header-auth">
      <button class="btn-login" *ngIf="!estaLogueado" (click)="abrirLogin()">🔑 Ingresar</button>
      <div class="user-info" *ngIf="estaLogueado">
        <span class="badge-admin" *ngIf="esAdmin">Admin</span>
        <button class="btn-logout" (click)="cerrarSesion()">🚪 Salir</button>
      </div>
    </div>
  </div>
</header>

<div class="modal-overlay" *ngIf="mostrarModalLogin">
  <div class="login-card">
    <div class="modal-header">
      <h3>Iniciar Sesión</h3>
      <button class="btn-close-icon" (click)="mostrarModalLogin = false">✕</button>
    </div>
    
    <div class="input-group">
      <label>Correo Electrónico</label>
      <input type="email" [(ngModel)]="loginEmail" placeholder="ejemplo@correo.com">
    </div>
    
    <div class="input-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="loginPassword" placeholder="••••••••">
    </div>

    <p *ngIf="errorLogin" class="error-text">Datos incorrectos.</p>
    
    <div class="modal-actions">
      <button class="btn-cancel" (click)="mostrarModalLogin = false">Cancelar</button>
      <button class="btn-confirmar" [disabled]="cargandoLogin" (click)="iniciarSesion()">
        {{ cargandoLogin ? 'Cargando...' : 'Entrar' }}
      </button>
    </div>
  </div>
</div>